@import url('https://fonts.googleapis.com/css?family=Lato');

.App {
    background-image: url("./assets/background-images-app-2.png");
    height:100%;
    left:0px;
    position:fixed;
    text-align: center;
    top:0px;
    width:100%;
    z-index:1000;
}

.App-header {
    align-items: center;
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-title {
    font-size: 4em;
    margin-bottom: 0;
}

h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}


h3 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}
