h4{
    margin: 0; 
}

.container{
    align-items: center;
    display: flex; 
    justify-content: center;
}

input {
    margin-right: 1rem;
    margin-left: 1rem;
}

.inputfield{
    margin-right: 0;
}

.calendar-icon{ 
    margin-left: 0;
    height: 3rem; 
    width: 3rem;
}

button {
	border-bottom: 5px solid rgb(40, 67, 85);
	border-radius: 8px;
    color: black;
    cursor: pointer;
	font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin-left: 1.5rem;
	padding: 0.2px 35px;
	text-decoration: none;	
	text-shadow: 0px -2px #2980B9;
    background-color: rgb(176, 204, 223);
}
